@model BraceletsShop.Models.BraceletCatViewModel

@{
    ViewData["Title"] = "Index";
}
<style>
    body {
        color: black;
        font-style: italic;
        background-color: darkseagreen
    }

    h1 {
        color: red;
    }
</style>
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Bracelets" asp-action="Index">
    <p>
        <select asp-for="BraceletCat" asp-items="Model.Category">
            <option value="">All</option>
        </select>

        Title: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Bracelets[0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bracelets[0].Material)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bracelets[0].CollectionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bracelets[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bracelets[0].Rating)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Bracelets)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Material)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CollectionDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
